:root {
    --primary-color: hsl(208, 100%, 50%);
    --success-color:hsl(122, 76%, 50%);
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
    margin: 10% auto;
    align-items: center;
    justify-items: center;
    max-width: 640px;
}

input {
    box-sizing: border-box;
    border-radius: 5px;
    border-width: 1px;
    height: 40px;
    width: 100%;
    padding-left: 1em;
}

input[type="checkbox"] {
    height: unset;
    width: unset;
}

.cross-cols {
    grid-column-start: 1;
    grid-column-end: 3;
}

.stretch-cols {
    display: flex;
    gap: 1em;
}

button {
    border-radius: 5px;
    border-width: 0px;
    height: 40px;
    width: 100%;
    color: white;
}

.primary {
    background-color: var(--primary-color);
}

.success {
    background-color: var(--success-color);
}

.primary-text {
    color: var(--primary-color);
    text-decoration: none;
}

.text-m {
    font-size: small;
    margin: 0;
}